<div class="container-fluid dashboard">
    <div class="row">
        <div class="col"></div>
        <div class="col-lg-6 col-md-8 col-sm-10">
            <h2 class="display-3">Add a lock</h2>

            <div *ngIf="!lockType">
                <p>
                    So, you have a special date you want to commemorate?
                    Or maybe you want to show that special someone how special they are?
                    We're the same, that's why we created this site, after all. And the locks...
                </p>
                <p>Check out those locks</p>

                <h3>Available categories</h3>
                <div class="lock-container bg-light">
                    <div class="locks-wrapper">
                        <div class="lock" *ngFor="let lockCategory of lockCategories">
                            <div class="lock-image" (click)="chooseCategory(lockCategory)">

                            </div>
                            <h4>{{lockCategory.type}}</h4>
                            <span class="price">{{lockCategory.price | currency}}</span>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="lockType && !lockId">
                <p>Now, choose your lock</p>
                <p>Check out those locks</p>

                <h3>Available locks</h3>
                <div class="lock-container bg-light">
                    <div class="locks-wrapper">
                        <div class="lock" *ngFor="let lock of locks">
                            <div class="lock-image" (click)="chooseLock(lock)">

                            </div>
                            <span>{{lock.id}}</span>
                        </div>
                    </div>
                    <div class="actions-wrapper">
                        <button class="btn btn-secondary" (click)="goBack('lockType')">Back</button>
                    </div>
                </div>
            </div>

            <div *ngIf="lockType && lockId">
                <p>Now that you know what lock you want, you need to customize it.</p>

                <form #lockForm="ngForm" (ngSubmit)="saveLock(lockForm.value)">
                    <div class="form-group">
                        <p>You can add your own message.</p>
                        <label for="customMessageInput">Add a message</label>
                            <textarea 
                                name="insertMessage"
                                type="textarea"
                                class="form-control"
                                id="customMessageInput"
                                [value]="selectedMessage"
                                [ngModel]="selectedMessage">{{selectedMessage}}</textarea>
                            <div>
                                <p>Or, choose from our list of messages.</p>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#chooseMessageModal">Choose message</button>
                            </div>
                    </div>
                    <br/>
                    <div class="actions-wrapper">
                        <button class="btn btn-secondary" (click)="goBack('lockId')">Back</button>
                        <button class="btn btn-secondary" type="submit">Add lock</button>
                    </div>
                </form>

                <div class="modal fade" id="chooseMessageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Choose amessage</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <form #modalForm="ngForm" (ngSubmit)="saveMessage(modalForm.value)">
                                <div class="modal-body">
                                    <div class="form-group">
                                        <p>Choose a message</p>
                                        <select class="form-control" name="messageSelect" id="predefinedMessageInput" [ngModel]>
                                            <option *ngFor="let message of predefinedMessages" [value]="message.id">{{message.value}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Close</button>
                                    <button type="submit" class="btn btn-primary">Save message</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>
