/* .lock-container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 30px;
    box-sizing: border-box;
} */
.carousel {
    background-color: #d0d0d04a;
    border-radius: 20px;
    border: 2px solid #ccc9c9;
}

.container-fluid .section-info {
    margin-bottom: 100px;
}

.lock {
    display: inline-block;
    max-width: 200px;
    margin-right: 30px;
}

.lock-image {
    background-color: red;
    padding: 20px;
    min-height: 200px;
    min-width: 200px;
    cursor: pointer;
}

.lock-image:hover {
    opacity: 0.5;
}

.actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.customize-lock-form {
    display: flex;
    flex-direction: column;
}

.customize-lock-form .lock-container {
    text-align: center;
    /* margin-top: 10%; */
}

.customize-lock-form .lock-container img {
    width: 70%;
    height: auto;
}

.customize-lock-form .user-info {
    font-size: 18px;
}

.message-container textarea {
    background-color: transparent;
    color: #fff;
}

.custom-control .custom-control-indicator {
    background-color: transparent;
    border: 1px solid #fff;
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: transparent;
}



