.scrollable-container {
    padding: .5rem 0;
    overflow-y: scroll;
    height: 100%;
}

.carousel {
    background-color: #d0d0d04a;
    border-radius: 20px;
    border: 2px solid #ccc9c9;
}

.container-fluid .section-info {
    margin-bottom: 1rem;
    height: auto;
}

.lock {
    display: inline-block;
    max-width: 200px;
    margin-right: 30px;
}

.lock-image {
    background-color: red;
    padding: 20px;
    min-height: 200px;
    min-width: 200px;
    cursor: pointer;
}

.lock-image:hover {
    opacity: 0.5;
}

.actions-wrapper {
    position: absolute;
    width: 100%;
    bottom: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Overwrite theme defaults, fml*/
.dorne-features-destinations-area {
    position: static !important;
    top: unset !important;
    width: 100%;
}

.add-lock-container {
    background: url("../../assets/images/background-img-big.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    padding-top: 60px;
}


/* Second Screen Styles */
.lock-slider .headline {
    height: 10vh;
}

.lock-slider .slider-content {
    height: calc(80vh - 60px);
}

.lock-slider .slider-navigation {
    height: 10vh;
    position: relative;
}

.slider-navigation button {
    position: absolute;
    top: 20%;
    left: 0;
}

.slider-content .slide {
    height: 100%;
    width: 100%;
    text-align: center
}

.slide .carousel-inner, .carousel-inner .carousel-item {
    height: 100%;
}

.carousel-item img {
    height: 80%;
    margin: 5% auto;
    width: 100%;
    object-fit: contain;
}
/* End Second Screen Styles */


.container, .row {
    max-width: 100%;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    z-index: 0;
}

.lock-container {
    position: relative;
    padding: 0 1rem;
    max-width: 50rem;
    min-width: 35rem;
    height: 60%;
    width: 50%;
    align-items: center;
    border-radius: 20px;

    background-color: #d0d0d04a;
    border: 2px solid #ccc9c9;
    z-index: 0;

    @media (max-width: 823px) and (max-height: 823px) {
        height: 100%;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
        border-radius: 0;
    }

    form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 97%;
        width: 100%;

        z-index: -1;

        .textareaContainer {
            position: relative;
            align-self: center;
            min-width: 15rem;
            max-width: 20rem;
            height: 18rem;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }

            .controls {
                position: absolute;
                top: 67%;
                left: 50%;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                transform: translate(-50%, -50%);
                text-align: center;

                textarea {
                    width: 9rem;
                    height: 3.5rem;
                    padding: 1px;

                    resize: none;
                    font-size: 18px;
                    text-align: center;
                    background: rgba(255, 255, 255, 0);
                    color: #fff;
                    overflow: hidden;
                }
            }
        }

    }
}

.custom-control {
    .custom-control-input:checked {
        ~ .custom-control-indicator {
            background-color: transparent;
        }
    }

    .custom-control-indicator {
        background-color: transparent;
        border: 1px solid #fff;
    }
}

.justify-content-center {
    max-width: 100%;
}

.carousel-inner {
    margin: 0 auto
}

/**
 TODO: refactor and reset styles, remove important,
    only styling should be done general
    dimensions should be included into media queries
**/

@media (max-width: 767px) {
    h4 {
        font-size: 18px
    }
}
