.lock-container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 30px;
    box-sizing: border-box;
}

.lock {
    display: inline-block;
    max-width: 200px;
    margin-right: 30px;
}

.lock-image {
    background-color: red;
    padding: 20px;
    min-height: 200px;
    min-width: 200px;
    cursor: pointer;
}

.lock-image:hover {
    opacity: 0.5;
}

.predefined-messages-container, .user-messages-container {
    padding: 10px;
}

.predefined-messages-container {
    margin-bottom: 20px;
}

.user-messages-container textarea {
    width: 100%;
}

.actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.font-color-container {
    display: inline-block;
    padding: 0 10px;
}

.font-color-input {
    max-width: 20px;
    margin: 0 auto;
}

