.lock-container {
    width: 100%;
    overflow: auto;
    white-space: nowrap;
    padding: 30px;
    box-sizing: border-box;
}

.lock {
    display: inline-block;
    max-width: 200px;
    margin-right: 30px;
}

.lock-image {
    background-color: red;
    padding: 20px;
    min-height: 200px;
    min-width: 200px;
    cursor: pointer;
}

.lock-image:hover {
    opacity: 0.5;
}

.actions-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.customize-lock-form .tab-pane {
    padding: 10px 35px;
}

.customize-lock-form .user-info {
    font-size: 18px;
}


