<section class="contact">
    <h6 *ngIf="showTitle" class="title">
        Contact data
    </h6>

    <div class="row" [ngClass]="{'ml-1': !withCol}">
        <span class="label" [ngClass]="{'col-3': withCol}">Company name: </span>
        <span class="value" [ngClass]="{'col': withCol}">SC BINAR BOX SRL</span>
    </div>

    <div class="row" [ngClass]="{'ml-1': !withCol}">
        <span class="label" [ngClass]="{'col-3': withCol}">VAT number: </span>
        <span class="value" [ngClass]="{'col': withCol}">37843054</span>
    </div>

    <div class="row" [ngClass]="{'ml-1': !withCol}">
        <span class="label" [ngClass]="{'col-3': withCol}">Trade Register Number: </span>
        <span class="value" [ngClass]="{'col': withCol}">J12/4150/2017</span>
    </div>

    <div class="row" [ngClass]="{'ml-1': !withCol}">
        <span class="label" [ngClass]="{'col-3': withCol}">Address: </span>
        <ul class="value" [ngClass]="{'col': withCol}">
            <li>Trifoiului Street, No. 14</li>
            <li>Cluj Napoca City</li>
            <li>Cluj</li>
        </ul>
    </div>

    <div class="row" [ngClass]="{'ml-1': !withCol}">
        <span class="label" [ngClass]="{'col-3': withCol}">Postal Code: </span>
        <span class="value" [ngClass]="{'col': withCol}">400478</span>
    </div>

    <div class="row" [ngClass]="{'ml-1': !withCol}">
        <span class="label" [ngClass]="{'col-3': withCol}">Email: </span>
        <span class="value" [ngClass]="{'col': withCol}"><a [href]="'mailto:binarboxsrl@gmail.com'">binarboxsrl@gmail.com</a></span>
    </div>

    <div class="row" [ngClass]="{'ml-1': !withCol}">
        <span class="label" [ngClass]="{'col-3': withCol}">Phone: </span>
        <span class="value" [ngClass]="{'col': withCol}">+40727442052</span>
    </div>
</section>
