* {
    font-size: 0.95rem;
}

.contact p {
    margin: .1rem 0;
}

.label {
    font-weight: 600;
}

.value {
    padding-left: 5px;
}

ul {
    list-style: unset;

    li {
        list-style-type: none;
    }
}
