@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.message-container {
    position: fixed;
    right: 10%;
    bottom: 50px;
    display: inline-block;
    width: 400px;
    max-width: 80%;
    height: auto;
    text-align: right;
}

.message-container > div {
    position: relative;
    display: block;
    max-width: 100%;
    width: auto;
    padding: 10px 30px;
    margin: 3px 0;
    border: 1px solid #EEEEEE;

    -webkit-box-shadow: 0 2px 14px -6px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 2px 14px -6px rgba(0, 0, 0, 0.3);
            box-shadow: 0 2px 14px -6px rgba(0, 0, 0, 0.3);

    animation: slide-up 0.4s ease;
}

.message-container .close {
    display: inline-block;
    position: absolute;
    top: 0.25em;
    right: 0.25em;
}

.message-container .error {
    color: red;
    background-color: white;
}

.message-container .success {
    color: #397b04;
    background-color: white;
}
