$footer-height: 30px;
$color-white: #ffffff;
$small-links-font-size: 12px;

.regulator-footer {
    width: 100%;
    height: $footer-height;
    background: rgba(0 ,0 ,0, .25);
    position: fixed;
    bottom: 0;
    left:0;
    text-align: center;
    z-index: 2;

    span  {
        display: inline-block;
        padding: 0 20px;
        font-size: $small-links-font-size;

        a {
            display: inline-block;
            color: $color-white;
            line-height: $footer-height;
        }

        a:hover {
            text-decoration: underline;
        }
    }


}
