<nav class="main-menu navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Lock Bridges</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="collapseMenu = !collapseMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [hidden]="!collapseMenu">
        <ul class="navbar-nav col-md-8 mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" [routerLinkActive]="['activeLink']">
                    See all locks
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/add-lock" [routerLinkActive]="['activeLink']">
                    Add a lock
                </a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['activeLink']">Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link" routerLink="/logout">Logout</a>
            </li>
            <li class="nav-item" *ngIf="!loggedIn">
                <a class="nav-link" routerLink="/login" [routerLinkActive]="['activeLink']">Login</a>
            </li>
        </ul>
    </div>
</nav>

<div class="wrapper">
    <router-outlet></router-outlet>
</div>

<app-message></app-message>
