<header class="header_area" id="header">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <nav class="h-100 navbar navbar-expand-lg">
                        <a class="navbar-brand" href="#">Lock Bridges</a>
                        <!-- <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="collapseMenu = !collapseMenu">
                            <span class="navbar-toggler-icon"></span>
                        </button> -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button>
                    
                        <div class="collapse navbar-collapse" id="dorneNav">
                            <ul class="navbar-nav mr-auto" id="dorneMenu">
                                <li class="nav-item active">
                                    <a class="nav-link" routerLink="/" [routerLinkActive]="['activeLink']">
                                        See all locks
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" routerLink="/add-lock" [routerLinkActive]="['activeLink']" *ngIf="loggedIn">Add a lock</a>
                                    <button type="button" class="nav-link login-btn" data-toggle="modal" data-target="#loginModal" *ngIf="!loggedIn">Add a lock</button>
                                </li>
                            </ul>
                            <ul class="navbar-nav">
                                <li class="nav-item" *ngIf="loggedIn">
                                    <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['activeLink']">Dashboard</a>
                                </li>
                                <li class="nav-item" *ngIf="loggedIn">
                                    <a class="nav-link" routerLink="/logout">Logout</a>
                                </li>
                                <li class="nav-item" *ngIf="!loggedIn">
                                    <button type="button" class="nav-link login-btn" data-toggle="modal" data-target="#loginModal">Login</button>
                                </li>
                            </ul>
                        </div>



                    <!-- <a class="navbar-brand" href="#">Lock Bridges</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#dorneNav" aria-controls="dorneNav" aria-expanded="false" aria-label="Toggle navigation"><span class="fa fa-bars"></span></button> -->
                    <!-- Nav -->
                    <!-- <div class="collapse navbar-collapse" id="dorneNav"> -->
                        <!-- <ul class="navbar-nav mr-auto" id="dorneMenu">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Explore <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="index.html">Home</a>
                                    <a class="dropdown-item" href="explore.html">Explore</a>
                                    <a class="dropdown-item" href="listing.html">Listing</a>
                                    <a class="dropdown-item" href="single-listing.html">Single Listing</a>
                                    <a class="dropdown-item" href="contact.html">Contact</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Listings <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
                                    <a class="dropdown-item" href="index.html">Home</a>
                                    <a class="dropdown-item" href="explore.html">Explore</a>
                                    <a class="dropdown-item" href="listing.html">Listing</a>
                                    <a class="dropdown-item" href="single-listing.html">Single Listing</a>
                                    <a class="dropdown-item" href="contact.html">Contact</a>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="contact.html">Contact</a>
                            </li>
                        </ul> -->
                        <!-- Search btn -->
                        <!-- <div class="dorne-search-btn">
                            <a id="search-btn" href="#"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
                        </div> -->
                        <!-- Signin btn -->
                        <!-- <div class="dorne-signin-btn">
                            <a href="#">Sign in  or Register</a>
                        </div> -->
                        <!-- Add listings btn -->
                        <!-- <div class="dorne-add-listings-btn">
                            <a href="#" class="btn dorne-btn">+ Add Listings</a>
                        </div> -->
                    <!-- </div> -->
                </nav>
            </div>
        </div>
    </div>
</header>






<!-- <nav class="main-menu navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">Lock Bridges</a>
    <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" (click)="collapseMenu = !collapseMenu">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse" [hidden]="!collapseMenu">
        <ul class="navbar-nav col-md-8 mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/" [routerLinkActive]="['activeLink']">
                    See all locks
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/add-lock" [routerLinkActive]="['activeLink']" *ngIf="loggedIn">Add a lock</a>
                <button type="button" class="nav-link login-btn" data-toggle="modal" data-target="#loginModal" *ngIf="!loggedIn">Add a lock</button>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link" routerLink="/dashboard" [routerLinkActive]="['activeLink']">Dashboard</a>
            </li>
            <li class="nav-item" *ngIf="loggedIn">
                <a class="nav-link" routerLink="/logout">Logout</a>
            </li>
            <li class="nav-item" *ngIf="!loggedIn">
                <button type="button" class="nav-link login-btn" data-toggle="modal" data-target="#loginModal">Login</button>
            </li>
        </ul>
    </div>

</nav> -->

<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">Log in</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" #closeModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <app-login></app-login>
            </div>
        </div>
    </div>
</div>


<div class="wrapper">
    <router-outlet></router-outlet>
</div>

<app-message></app-message>
