<h4>Profile</h4>
<p>Want to share stuff on your social media account? No problem, here you can link your Twitter and Facebook account.</p>
<div class="row">
    <div class="col">
        <h5>Facebook</h5>
        <p>It looks like you've already liked your Facebook account with us. If you no longer want to have it linked you can do that from the Facebook permission settings page.</p>
        <button disabled="disabled" class="btn btn-primary disabled"><i-facebook class="i-size-16"></i-facebook> Link your Facebook account</button>
    </div>
    <div class="col">
        <h5>Twitter</h5>
        <p>If you want to link your twitter account with us so you can share more easily, you can do that here.</p>
        <button class="btn btn-primary bg-twitter"><i-twitter class="i-size-16"></i-twitter> Link your Twitter account</button>
    </div>
</div>
