.panels-container {
    width: auto;
    height: 100%;
    overflow: hidden;
    /* margin-top: 120px; */
}
.drag-scroll-section {
    height: 100%;
}

.drag-scroll-section .drag-scroll-wrapper {
    width: 100% !important;
    height: 100% !important;
}

.bridge-img {
    width: 100%;
    height: 100vh;
}

.bridge-img.scroll-image {
    height: 100%;
    width: 625%;
    max-width: 625%;
}

.draggable-container {
    cursor: grab;
    overflow: auto;
}

