<h4>Choose the panel where you want to place your newly created lock.</h4>
<div class="panels-container">
  <img class="panel-img" src="../../../assets/images/bridge2.JPG" alt="" usemap="#Map" />
  <map name="Map" id="Map">
      <area alt="" title="" id="panel1" class="panel-area" href="#" shape="poly" (mouseenter) ="mouseEnter($event)" coords="853,424,833,709,246,770,220,433" />
      <area alt="" title="" id="panel2" class="panel-area" href="#" shape="poly" coords="897,423,1323,414,1287,645,888,702" />
      <area alt="" title="" id="panel3" class="panel-area" href="#" shape="poly" coords="1362,408,1330,646,1595,613,1595,402" />
  </map>
</div>

