<div class="video-background" *ngIf="this.showMobileVideo === false">
    <div class="video-foreground">
        <iframe src="https://www.youtube.com/embed/9nKydzHIWTA?controls=0&playlist=9nKydzHIWTA&showinfo=0&rel=0&autoplay=1&loop=1&mute=1"
                frameborder="0"
                allowfullscreen>
        </iframe>
    </div>
</div>

<video *ngIf="this.showMobileVideo === true" autoplay loop class="mobile-video-background">
    <source src="../../../../assets/mobile-video.mp4">
</video>
