<div class="video-background">
    <div class="video-foreground">
        <ng-container *ngIf="this.showMobileVideo === false">
            <iframe src="https://www.youtube.com/embed/9nKydzHIWTA?controls=0&playlist=9nKydzHIWTA&showinfo=0&rel=0&autoplay=1&loop=1&mute=1"
                    frameborder="0"
                    allowfullscreen>
            </iframe>
        </ng-container>

        <ng-container *ngIf="this.showMobileVideo === true">
            <div class="mobile-video-background" [innerHTML]="getVideoTag('../../../../assets/mobile-video.mp4')"></div>
        </ng-container>
    </div>
</div>


