<section>
    <div class="page-content">
        <div class="inner-content shadow-box">
            <h5>CONFIDENTIALITY POLICY AND PROCESSING OF PERSONAL DATA</h5>

            <section class="overview">
                <h6 class="title">
                    Overview
                </h6>

                <p>
                    According to applicable legislation for the protection of personal data (GDPR -EU Regulation 2016/679) and applicable national law, we present below Privacy Policy regarding the processing of your personal data, as a visitor of our website <a [routerLink]="'/'">www.lockbridges.com</a>.
                </p>
            </section>

            <section class="context">
                <h6 class="title">
                    Context
                </h6>

                <p>In this context, according to the regulation mentioned below, as a visitor and user of our website, you hold the quality of the data subject, and we, the quality of processor (according to GDPR terminology), which collects, stores and processes personal data. In this context "We" means our company and details about us can be found at the end of this document.</p>
            </section>

            <section class="collected-data">
                <h6 class="title">
                    Data collected and the purpose of their processing
                </h6>

                <p>
                    We collect and process personal data that you voluntarily transmit to us, when:
                </p>

                <ul>
                    <li>you want to contact us directly</li>
                    <li>sign up on our platform by creating user accounts</li>
                    <li>make certain orders</li>
                    <li>make certain payments</li>
                    <li>for support and assistance (questions / clarifications regarding our services, requests for offers, feedback, etc.)</li>
                </ul>

                <p>
                    Therefore we usually collect, store and process the following types of data:
                </p>

                <ul>
                    <li>identity data (name, surname)</li>
                    <li>contact details (email, phone)</li>
                    <li>data related to the occupation (for example the company you work for)</li>
                    <li>authentication data (user, password, Facebook ID)</li>
                    <li>location data</li>
                    <li>financial data (card number, CVV, other payment methods)</li>
                </ul>

                <p>
                    We automatically collect and process other personal data through computer systems and cookies (<a [routerLink]="'/privacy/cookies-policy'"> See Cookies Policy</a> or the purposes of ensuring the security of the administration in the sense of diagnosing the connectivity problems, frauds prevention and to analyze aspects related to the website visitors for its improvement, such as:
                </p>

                <ul>
                    <li>IP</li>
                    <li>geographical location</li>
                    <li>browser type and settings used</li>
                    <li>type of operating system used</li>
                    <li>the time spent on the website</li>
                    <li>browsing website pages and preferences</li>
                    <li>transfer speeds.</li>
                </ul>

                <p>
                    The legal bases of processing personal data are:
                </p>

                <ul>
                    <li>your consent (e.g. processing from cookies)</li>
                    <li>our legitimate interest (e.g. automatic data collection)</li>
                    <li>the execution of the contract and the exercise of the services (ex: requests for an offer to contract our services, creation of accounts, making payments, using the authentication mechanisms, etc.) or fulfilling a legal obligation</li>
                </ul>
            </section>

            <section class="storage-data">
                <h6 class="title">Collection, storage, processing, keeping and disclosure of personal data to third parties</h6>

                <p>We keep your personal data for a period that is not greater than the one required to fulfill the purpose mentioned above, according to internal polices and any applicable legislation.</p>
                <p>Data collected directly from you is not transferred to any third party as a standard, with the exception of the providers who provide us with the support services for the smooth running of the activity (ex: website maintenance, IT support).</p>
                <p>Only if necessary, we will transmit your data to various authorities, public institutions, attorneys, insurance companies, auditors, external consultants - only insofar as they need to be known or processed according to the applicable legal requirements, including when we exercise our right to defense in the face of complaints / disputes. Your personal data does not leave EU space as a standard, and when it does we make sure that there are adequate protections (suitability decisions, Privacy Schield, etc.).</p>
                <p>In this framework, third parties may be involved in the collection, storage and processing of personal data described above and only in accordance with the purposes mentioned, as an integrated part of our systems and services, such as:</p>

                <ul>
                    <li>Facebook</li>
                    <li>Google</li>
                    <li>PayU.</li>
                </ul>
            </section>

            <section class="data-security">
                <h6 class="title">
                    Personal data security
                </h6>

                <p>
                    Data security is one of our important goals, covering topics such as confidentiality, integrity and availability. Through well-established organizational and technical measures, we ensure that your data is protected.
                </p>
            </section>

            <section class="your-rights">
                <h6 class="title">
                    Your rights
                </h6>

                <p>
                    According to the applicable legal requirements of general data protection, you have certain rights:
                </p>

                <ul>
                    <li>The right to have access to your personal data that we might have( you can require us to provide you such information)</li>
                    <li>The right to rectify your personal data (you can ask us to update our data)</li>
                    <li>The right to erase the personal data (according to the applicable requirements, you can request data deletion)</li>
                    <li>The right to objection to the way we process your personal data</li>
                    <li>The right to data portability</li>
                    <li>The right of objection regarding automatic and profiling decisions, which can have significant effects</li>
                    <li>The right to complain to the supervisory authority (<a href="https://www.dataprotection.ro/">www.dataprotection.ro</a>)</li>
                </ul>

                <p>
                    We have the right to update this Policy whenever it is necessary and publish a new revision on this site. For this, we invite you to read this Policy regularly.
                </p>
            </section>

            <app-contact-data></app-contact-data>
        </div>
    </div>
</section>
