<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-8 col-md-6 card m-3 p-3 text-white bg-dark">
            <h2>Forgot your password</h2>

            <a routerLink="/register">Don't have an account? Register here.</a>

            <form #forgotPasswordForm="ngForm" (ngSubmit)="resetPassword(forgotPasswordForm.value)">
                <br>
                <div>
                    Enter your email address below. If there is an account associated with that account we will send you an email with instructions on how to reset your password.
                </div>
                <br>
                <div class="form-group">
                    <label for="emailInput">Email address</label>
                    <input
                        name="email"
                        type="email"
                        class="form-control"
                        id="emailInput"
                        aria-describedby="emailHelp"
                        placeholder="Enter email"
                        [ngModel]/>

                    <small id="emailHelp" class="form-text text-muted">
                        If you are sure the email is correct but have not received an email please wait at least 10 minutes and look in your spam folder.
                    </small>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-3">Submit</button>
            </form>
        </div>
    </div>
</div>
