/* COMMON STYLE */
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

.video-container {
    width: auto;
    background: url("../../assets/images/background-image.jpeg"), rgba(255, 255,255, .8);
    background-size: cover;
}

.video-container::after {

}
.video-container #media {
    width: 75%;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 6em;
    text-align: center;
    width: 100%;
    padding: 2em auto;
    color: #c82333;
}



/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

    .video-container {
        padding-top: 120px;
    }
}
