:root {
    --bridge-main-color: #FF9900;
}

html, body {
    height: 100%;
}

/* You can add global styles to this file, and also import other style files */
.ng-invalid:not(form):not(.ng-untouched) {
    border: 2px solid red;
}
