<section>
    <div class="page-content">
        <div class="inner-content shadow-box">
            <h5>COOKIE POLICY</h5>

            <section class="overview">
                <h6 class="title">
                    About cookies
                </h6>

                <p>
                    Cookies are small text files that contain letters and numbers that are installed on your device when you
                    visit a website. From a utility point of view, this file allows you to remember your settings and
                    preferences when you visit the site again, to give you a better online experience and leads to a better
                    traffic analysis on a site, accessing pages.
                </p>
                <p>
                    You have the possibility to allow cookies or not, through the settings made in the browsers as well as
                    through the cookie banner on this site.
                </p>
                <p>
                    Cookies cannot be used to run programs or transmit computer viruses to your device, they are "passive"
                    files in the sense that they do not contain software programs, viruses or spyware and cannot access
                    information from your device.
                </p>
                <p>
                    The data collected by using cookies are used both to facilitate certain functionalities for the user but
                    also to ensure visibility in accessing and using the services for the administrator of the website, with
                    the user's consent.
                </p>
            </section>

            <section class="context">
                <h6 class="title">
                    Types of cookies and the purpose of their use on our site
                </h6>

                <p>We use two types of cookies :</p>

                <ul>
                    <li>session cookies – active during a browsing session and they remain until the browser is closed</li>
                    <li>persistent cookies – active for a longer period of time. The persistent ones remain on the terminal
                        a period that is determined by certain parameters or until they are explicitly deleted by user
                    </li>
                </ul>

                <p>Cookies can be categorized by their source:</p>

                <ul>
                    <li>first-party cookies – are placed on our website</li>
                    <li>third-party cookies – are placed by a third party other than the website owner ( usually through a
                        social network, advertiser, electronic payment services)
                    </li>
                </ul>

                <p>
                    The site <a [routerLink]="'/'">www.lockbridges.com</a> uses cookies for certain basic activities and for analyzing the
                    performance of our site, to give visitors a better browsing experience.
                </p>

                <p>Thereby, cookies can also be categorized from the perspective of the purpose for which they are used:</p>
                <ul>
                    <li>strictly Necessary – Required for good navigation, functionality, and security of our website that
                        may be affected by disabling them. These cannot be disabled by the user
                    </li>
                    <li>preferences and statistics - are useful in analyzing visitors, pages accessed, all data being used
                        to optimize the functionality of our site and online experience. Using software from the Google
                        suite (e.g. Google Analytics), these can be disabled by the user
                    </li>
                    <li>marketing cookies (advertising) - are used to retain your profile (parameters, settings, etc.) and
                        to display relevant advertising. These can be disabled by the user
                    </li>
                </ul>
            </section>

            <section class="collected-data">
                <h6 class="title">
                    Cookies Management
                </h6>

                <p>
                    If you want to block cookies, some features of the site will be stopped, and this may cause certain
                    malfunctions or errors in the use of our site. If you accept these limitations and you decide to block
                    cookies, follow the instructions below. If you don't like how this affects your online experience, it's
                    easy to accept cookies again.
                </p>

                <p>
                    To automatize the display, activating and deactivating of cookies in relation to granting or withdrawing
                    consent for their use, we provide you with an image of all cookies running on our website, in real time.
                </p>

                <p>
                    Thus, you can withdraw at any time your consent to change the type of cookies you want to be active or
                    inactive during browsing:
                </p>

                <div #cookieDeclaration></div>

                <p>
                    This statement is updated automatically, with a monthly frequency, so you can permanently see the new
                    cookies that have appeared on our website, according to the table shown above.
                </p>

                <p>
                    For any questions or concerns, just contact us.
                </p>
            </section>

            <app-contact-data></app-contact-data>
        </div>

    </div>
</section>

