<h4>Payment options</h4>
<p>
    Here you can change your payment details. We don't actually save any of your credit card data,
    just send it along to our payment provider who keeps it safe for us so if the security of our site is ever compromised, your payment details remain safe and sound.
</p>
<div class="row">
    <div class="col">
        Since no data is stored by us, you need to visit <a href="#"><i-lock class="i-size-16"></i-lock> this page</a> to update your details.
    </div>
</div>
<div class="container">
    <div class="col-md-4 mb-3">
        <button (click) = "checkout(200)" class="btn btn-primary btn-block">pay 200$</button>
    </div>
    <div class="col-md-4 mb-3">
        <button (click) = "checkout(300)" class="btn btn-primary btn-block">pay 300$</button>
    </div>
    <div class="col-md-4 mb-3">
        <button (click) = "checkout(400)" class="btn btn-primary btn-block">pay 400$</button>
    </div>
</div>