<!-- <h4>Payment options</h4>
<p>
    Here you can change your payment details. We don't actually save any of your credit card data,
    just send it along to our payment provider who keeps it safe for us so if the security of our site is ever compromised, your payment details remain safe and sound.
</p>
<div class="row">
    <div class="col">
        Since no data is stored by us, you need to visit <a href="#"><i-lock class="i-size-16"></i-lock> this page</a> to update your details.
    </div>
</div> -->

<div class="payment-container">
    <form #paymentForm="ngForm" (ngSubmit)="chargeCreditCard(paymentForm.value)">
        <div class="form-group">
            <div class="message-container">
                <label class="user-info" for="customMessageInput">Credit Card:</label>
                <input 
                    name="cardNumber"
                    type="text"
                    placeholder="Credit Card #"
                    class="form-control"
                    [ngModel]="cardNumber">
            </div>
        </div>
        <div class="form-group">
            <div class="message-container">
                <label class="user-info" for="expMonth">Expiration Month:</label>
                <input 
                    name="expMonth"
                    type="text"
                    placeholder="Expiration Month"
                    class="form-control"
                    [ngModel]="expMonth">
            </div>
        </div>
        <div class="form-group">
            <div class="message-container">
                <label class="user-info" for="expYear">Expiration Year:</label>
                <input 
                    name="expYear"
                    type="text"
                    placeholder="Expiration Year"
                    class="form-control"
                    [ngModel]="expYear">
            </div>
        </div>
        <div class="form-group">
            <div class="message-container">
                <label class="user-info" for="cvc">CVC:</label>
                <input 
                    name="cvc"
                    type="text"
                    placeholder="CVC"
                    class="form-control"
                    [ngModel]="cvc">
            </div>
        </div>
        <div class="actions-wrapper">
            <button class="btn btn-outline-primary" type="submit">Submit</button>
        </div>
    </form>
</div>