
.dashboard-container {
    height: 100%;
    padding-top: 120px;
}

.dashboard {
    height: 100%;
}

.dashboard-content-wrapper {
    background: #fff;
    width: 100%;
    margin-left: 0px;
    transition: margin-left 0.5s;
}

.dashboard-content-wrapper .toggle-nav {
    background-color: rgba(14, 2, 35, 0.5);
    border-bottom-right-radius: 10px;
    display: flex;
    flex-direction: column;
}

.dashboard-content-wrapper.nav-active {
    margin-left: 250px;
    transition: margin-left 0.5s;
}

.dashboard .dashboard-content {
    padding: 20px;
}


.dashboard > .row {
    height: 100%;
}

.dashboard-menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 120px;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.dashboard-menu.active {
    width: 250px;
    transition: 0.5s;
}

.dashboard-menu ul {
    margin: 0;
    padding: 0;
}

.dashboard-menu li {
    list-style: none;
    padding: 0;
    transition: 0.3s;
}

.dashboard-menu li a {
    display: block;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

.dashboard-menu li a:hover {
    background-color: #7643ea;
    text-decoration: none;
    color: white;
}
