<section class="dorne-welcome-area bg-img bg-overlay dashboard-container">
    <div class="container-fluid dashboard">
        <div class="row">
            <div class="dashboard-menu" [ngClass]="{'active': isSidemenuActive}">
                <ul>
                    <li>
                        <a routerLink="payment">
                            <i-credit-card class="i-size-16"></i-credit-card>
                            Change payment details
                        </a>
                    </li>
                    <li>
                        <a routerLink="locks">
                            <i-lock class="i-size-16"></i-lock>
                            Manage locks
                        </a>
                    </li>
                    <li>
                        <a routerLink="social">
                            <i-facebook class="i-size-16"></i-facebook>
                            Social media integration
                        </a>
                    </li>
                    <li>
                        <a routerLink="video">
                            <i-facebook class="i-size-16"></i-facebook>
                            Video
                        </a>
                    </li>
                </ul>
            </div>
            <div class="dashboard-content-wrapper" [ngClass]="{'nav-active': isSidemenuActive}">
                    <i-chevron-right class="i-size-24 toggle-nav" *ngIf="!isSidemenuActive" (click)="openNav()"></i-chevron-right>
                    <i-chevron-left class="i-size-24 toggle-nav" *ngIf="isSidemenuActive" (click)="closeNav()"></i-chevron-left>
                <div class="col dashboard-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>

</section>
